@import "../scss/vars";

.option-row{
  position: fixed;
  background-color: $primary-background;
  top: 0;
  width: 100%;
}
.options {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: $text-tertiary;
}

.text-area{
  width: 100%;
  height: 75%;
  overflow-y: auto;
  bottom: 200px;
  margin-top: 40px;
  margin-bottom: 100px;
}

.chat-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  // padding: 30px;
  width: 100%;
}

.chat-text--outgoing {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.prev-quest{
  color: $text-secondary;
  font-size: 20px;
  width: 70%;
  height: 100%;
  font-weight: bold;
  line-height: 20px;
}

.prev-resp{
  color: $text-secondary;
  font-size: 15px;
  width: 70%;
  height: 100%;
  line-height: 20px;
}

.answer-area{
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: $primary-background;
  bottom: 0;
  width: 100%;
}
.answer-line{
  display: flex;
}

.chat-area{
  color: $accent;
  text-align: center;
}

.chat-btn{
  display: flex;
  align-self: center;
}

.mdl-textfield__label{
  color: $accent;
  // font-size: 30px;
}