@import "../scss/vars";
.game-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-y: auto;
}
.game-title{
  color: $text-tertiary;
}
.your-games{
  color: $text-secondary;
  justify-content: center;
}
.players-in-game{
  flex-direction: column;
  height: 100%;
  color: $text-tertiary;
}
.play-btn{
  padding-bottom: 16px;
}
.new-game-modal{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: center;
  width: 100%;
  height: 200px;
  // position: fixed;
  z-index: 2;
  background-color: #424242;
}
.enter-game-details{
  display: flex;
}